.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image23Icon {
  position: relative;
  width: 221px;
  height: 185px;
  object-fit: cover;
}

.userIcon1 {
  position: absolute;
  height: 44.44%;
  width: 6.67%;
  top: 28.89%;
  right: 89.33%;
  bottom: 26.67%;
  left: 4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.iconEye1 {
  position: absolute;
  height: 26.67%;
  width: 6.67%;
  top: 37.78%;
  right: 89.67%;
  bottom: 35.56%;
  left: 3.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.forgetPassword {
  position: relative;
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff8f8;
  display: inline-block;
  width: 179px;
  height: 20px;
  flex-shrink: 0;
  background-color: transparent;
}
.login {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Montserrat;
  color: #2148c0;
  text-align: center;
  }
.loginWrapper {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 177px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.loginbuttonlogin {
  width: 179px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #2148c0;
}
.loginbuttonlogin1 {
  width: 178px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #2148c0;
}
.image23Parent {
  position: relative;
  border-radius: 35px;
  background-color: #7a7a7a;
  width: 100%;
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: Montserrat;
}
.logoGoogleg48dp1 {
  position: absolute;
  top: 10.5px;
  left: 4.5px;
  width: 18px;
  height: 18px;
}
.signInWith1 {
  position: absolute;
  top: 10.5px;
  left: 26.5px;
  font-weight: 600;
}
.officialButtonsSignInWit1 {
  position: relative;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.17);
  width: 177px;
  height: 40px;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  font-family: Montserrat;
}

.loginpageField{
  position: relative;
  
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  box-sizing: border-box;
  width: 300px;
  height: 45px;
  font-family: Montserrat;
  font-weight: 300;
  color: #fff;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  text-indent: 36px;
}
.FieldwithImage{
  position: relative;
}